<?xml version="1.0"?>
<model>
  <name>rescue_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Bitupan / GroundZero Team</name>
    <email>groundzero@rescue.org</email>
  </author>
  <description>
    Ground-Zero Autonomous Swarm Rescue Quadcopter with Night Searchlight, RGB Camera, and Odometry.
  </description>
</model>
